PORT=add_your_port
MONGODB_URI=add_your_mongodb_connection_url
CORS_ORIGIN=add_allowed_origins

ACCESS_TOKEN_SECRET=set_your_secret_key_for_access_token
ACCESS_TOKEN_EXPIRY=set_expiry_duration

REFRESH_TOKEN_SECRET=set_your_secret_key_for_refersh_token
REFRESH_TOKEN_EXPIRY=set_expiry_duration


CLOUDINARY_CLOUD_NAME=add_your_cloudinary_cloud_name
CLOUDINARY_API_KEY=add_your_cloudinary_api_key
CLOUDINARY_API_SECRET=add_your_cloudinary_api_secret
